<main role="main" class="container">
  
  <div class="home">
      <h1>ようこそMyごはんへ。</h1>
      <h5>毎日の料理を投稿＆探そう‼</h5>
      <% if !logged_in? %>
      <p><%= link_to "Myごはんを始める>", " signup", class:"btn" %></p>
      <% end %>
  </div>
  
  <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
  </div>
</main>
