<% provide(:title,"top_page") %>

<div class="microposts">
  <ol class="microposts">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <p><%= link_to "全ての投稿を表示", root_path(current_user), class:"btn"%></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <% if@microposts.any? %>
        <%= render @microposts%>
        <%= paginate @microposts %>
      </div>
    </div>
  </ol>
  <% else %>
  <P>投稿がありません</P>
  <% end %>
</div>
</div>
</div>