<% provide(:title,"いいね一覧") %>
<div class="microposts">
    <% if @user.microposts.any? %>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
       <ol class="micro">
          <%= page_entries_info @microposts%>
          <%= render @microposts %>
          <%=paginate @microposts %>
      </ol>
    </div>
  </div>
    <% end %>
  </div>