<% content_for(:html_title) { 'Myごはん-新規投稿' } %>
<div class="container ">
  <h1 class="new">新規投稿</h1>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= render 'posts_form' %>
    </div>
  </div>
</div>