// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.new{
  text-align: center;
  padding-top: 30px;
}

.show {
  text-align: center;
  width: 60%;
  /*左も右も20%ずつ*/
  margin: 30px 20%;
  padding: 15px;
}

.show1{
  padding: 15px 0px;
}

.show2{
  border-left: 5px solid #426579;
  padding: 7px;
  margin: 0px 0px 0px 10px;
  text-align: left;
}

.show3{
  text-align: left;
  margin: 0px 0px 0px 10px;
  padding-top: 7px;
}

.show4{
  border : solid 2px #333 ;
}

.show-top{
  text-align: right;
}

/*home*/
.home{
  padding: 40px 0px 40px;
  h5{
    margin: 20px 0px;
    text-align: center;
  }
  p{
    text-align: center;
  }
}

.home h1{
  text-align: center;
}